.contact-item {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
  margin: 10px;
  width: 100%;
  height: 100%;
  margin-left: 96px;
  color: #ffffffa3;
}

.fa,
.fab,
.fas {
  display: flex;
  align-self: center;
  font-size: 2rem;
  width: 20px;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff63;
  font-weight: 700;
  font-size: 1.5rem;
}

.fa-user {
  margin-left: 2px;
  margin-right: -1px;
}

.fa-gamepad {
  margin-left: -3px;
  margin-right: 2px;
}
