.games {
  margin: 100px auto;
  font-size: 24px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.hello {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 24px;
}

.description {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 24px;
  width: 90%;
}
